.TodoSearch-container {
  max-width: 800px;
  margin: 200px auto 0 auto;
  padding: 0 24px;
}

.TodoSearch {
  background: #f9fbfc;
  border-radius: 38px;
  border: 2px solid #7f7f7f;
  height: 64px;
  width: 100%;
  font-size: 20px;
  text-align: center;
  font-family: "Delius", cursive;
  font-weight: 400;
  color: #1e1e1f;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoSearch::placeholder {
  color: #a5a5a5;
  font-family: "Delius", cursive;
  font-weight: 400;
}

.TodoSearch:focus {
  outline-color: #d08498;
}
