@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(./images/fondo-baby.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #1e1e1f;
  font-family: "Delius", cursive;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
